.help {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #0091ff;
    width: 100%;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
}
.ant-select-selector,
input {
    height: 46px !important;
    padding: 11px 12px;
    font: inherit;
    line-height: 150% !important;
    z-index: 9;
    display: flex;
    align-items: center;
    background: #f1f3f5 !important;
}
