@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-Black.woff2') format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Black.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Black.svg#SofiaPro-Black')
      format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-BoldItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-BoldItalic.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-BoldItalic.svg#SofiaPro-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-Bold.woff2') format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Bold.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Bold.svg#SofiaPro-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-BlackItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-BlackItalic.woff')
      format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-BlackItalic.svg#SofiaPro-BlackItalic')
      format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-Light.woff2') format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Light.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Light.svg#SofiaPro-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-ExtraLightItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-ExtraLightItalic.woff')
      format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-ExtraLightItalic.svg#SofiaPro-ExtraLightItalic')
      format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-ExtraLight.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-ExtraLight.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-ExtraLight.svg#SofiaPro-ExtraLight')
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-LightItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-LightItalic.woff')
      format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-LightItalic.svg#SofiaPro-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-MediumItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-MediumItalic.woff')
      format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-MediumItalic.svg#SofiaPro-MediumItalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-Medium.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Medium.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Medium.svg#SofiaPro-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro.woff2') format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro.svg#SofiaPro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-Italic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Italic.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-Italic.svg#SofiaPro-Italic')
      format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-SemiBold.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-SemiBold.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-SemiBoldItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-SemiBoldItalic.woff')
      format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-SemiBoldItalic.svg#SofiaPro-SemiBoldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-UltraLightItalic.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-UltraLightItalic.woff')
      format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-UltraLightItalic.svg#SofiaPro-UltraLightItalic')
      format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/sofia-pro-cufonfonts/SofiaPro-UltraLight.woff2')
      format('woff2'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-UltraLight.woff') format('woff'),
    url('./assets/sofia-pro-cufonfonts/SofiaPro-UltraLight.svg#SofiaPro-UltraLight')
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* --------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-family: 'Sofia Pro' !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ant-tabs {
  padding: 4px 14px;
}
.ant-table {
  padding: 8px !important;
}
.ant-table-wrapper table {
  width: auto !important;
}
.ant-layout {
  flex-direction: column !important;
}
.ant-table-body {
  max-height: 525px !important;
}
.ant-layout-sider {
  width: 329px !important;
  flex: 0 0 329px !important;
  max-width: 329px !important;
  min-width: 329px !important;
}
.ant-table-container {
  font-size: 13px;
  line-height: 1.25rem;
}
.ant-table-cell {
  display: table-cell;
  white-space: nowrap;
  min-width: 120px;
  padding: 4px 8px !important;
  text-align: left;
}
.ant-table-selection-column {
  min-width: 40px !important;
  z-index: 2;
  border: 1px solid white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 3px 10px !important;
  border: 1px solid #fff;
}

.ant-row .ant-col label,
.ant-row .ant-col input {
  width: 150px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-family: 'Sofia Pro' !important;
  letter-spacing: -0.01em !important;
  font-weight: 400 !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
.ant-select,
.ant-row .ant-col input {
  min-width: max-content !important;
  max-width: 450px !important;
  width: 100%;
  height: 46px !important;
}

.ant-select-selector {
  height: 100% !important;
}
.ant-select-selection-item {
  line-height: 44px !important;
  font-size: 16px !important;
}

.ant-pagination {
  align-items: center;
  justify-content: flex-start !important;
  background: #ffffff;
  padding: 4px 0;
  border-radius: 6px;
}
.ant-notification-notice {
  width: 100% !important;
  padding-left: 50px !important;
}
.ant-notification-notice-close {
  right: 20px !important;
}
.ant-notification-notice-message {
  color: rgb(229, 72, 77) !important;
}
